@model IEnumerable<MvcWebMusica2.Models.Grupos>

@{
    ViewData["Title"] = "Artistas y grupos";
}

<h1>Artistas</h1>

<table class="table table-bordered border-primary table-hover tabla-indice">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                @await Component.InvokeAsync("Artistas", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
