@{
    ViewData["Title"] = "Inicio";
}

<!-- Cabecera -->
<div class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">MVC Web de música</h1>
    </div>
</div>